In [1]:
# importing libraries
import pandas as pd # data science essentials
import matplotlib.pyplot as plt # data visualization
import seaborn as sns # enhanced data visualization
import statsmodels.formula.api as smf # regression modeling
from sklearn.model_selection import train_test_split # train/test split
from sklearn.linear_model import LinearRegression

file = './__datasets/birthweight_low.xlsx'
birthweight = pd.read_excel(io = file)

birthweight.head(n=5)

,mage,meduc,monpre,npvis,fage,feduc,omaps,fmaps,cigs,drink,male,mwhte,mblck,moth,fwhte,fblck,foth,bwght
0,69,NaN,5,2.0,62,NaN,4,7,23,9,1,0,1,0,0,1,0,697
1,68,12.0,3,10.0,61,11.0,4,6,25,11,1,1,0,0,1,0,0,1290
2,71,12.0,3,6.0,46,12.0,2,7,21,12,1,0,1,0,0,1,0,1490
3,59,16.0,1,8.0,48,16.0,7,8,21,10,0,0,0,1,0,0,1,1720
4,48,12.0,4,6.0,39,12.0,2,9,17,13,0,1,0,0,1,0,0,1956

In [2]:
# formatting and printing the dimensions of the dataset
print(f"""
Size of Original Dataset
------------------------
Observations: {birthweight.shape[0]}
Features:     {birthweight.shape[1]}
""")

Size of Original Dataset
------------------------
Observations: 196
Features:     18

In [3]:
# looping to print column names one by one
for column in birthweight:
    print(column)

mage
meduc
monpre
npvis
fage
feduc
omaps
fmaps
cigs
drink
male
mwhte
mblck
moth
fwhte
fblck
foth
bwght

In [4]:
birthweight.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196 entries, 0 to 195
Data columns (total 18 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   mage    196 non-null    int64
 1   meduc   193 non-null    float64
 2   monpre  196 non-null    int64
 3   npvis   193 non-null    float64
 4   fage    196 non-null    int64
 5   feduc   189 non-null    float64
 6   omaps   196 non-null    int64
 7   fmaps   196 non-null    int64
 8   cigs    196 non-null    int64
 9   drink   196 non-null    int64
 10  male    196 non-null    int64
 11  mwhte   196 non-null    int64
 12  mblck   196 non-null    int64
 13  moth    196 non-null    int64
 14  fwhte   196 non-null    int64
 15  fblck   196 non-null    int64
 16  foth    196 non-null    int64
 17  bwght   196 non-null    int64
dtypes: float64(3), int64(15)
memory usage: 27.7 KB

In [5]:
# checking for missing values in a column
birthweight.isnull().sum(axis=0)

mage      0
meduc     3
monpre    0
npvis     3
fage      0
feduc     7
omaps     0
fmaps     0
cigs      0
drink     0
male      0
mwhte     0
mblck     0
moth      0
fwhte     0
fblck     0
foth      0
bwght     0
dtype: int64

In [6]:
# the following code makes the new DataFrame independent
df_dropped = pd.DataFrame.copy(birthweight)

In [7]:
# soft coding MEAN for mother education
birthweight_m = df_dropped['meduc'].mean(axis = 0)

# filling carat NAs with MEAN
birthweight['meduc'].fillna(value = birthweight_m,
                         inplace = True)


# checking to make sure NAs are filled in
print(birthweight['meduc'].isnull().any())

False

In [8]:
# soft coding MEAN for number of pre-visits
birthweight_m = df_dropped['npvis'].mean(axis = 0)

# filling carat NAs with MEAN
birthweight['npvis'].fillna(value = birthweight_m,
                         inplace = True)


# checking to make sure NAs are filled in
print(birthweight['npvis'].isnull().any())

False

In [9]:
# soft coding MEAN for father education
birthweight_m = df_dropped['feduc'].mean(axis = 0)

# filling carat NAs with MEAN
birthweight['feduc'].fillna(value = birthweight_m,
                         inplace = True)


# checking to make sure NAs are filled in
print(birthweight['feduc'].isnull().any())

False

In [10]:
# checking whether missing values are replaced with MEAN values at begining of the rows 
birthweight.head(15)

,mage,meduc,monpre,npvis,fage,feduc,omaps,fmaps,cigs,drink,male,mwhte,mblck,moth,fwhte,fblck,foth,bwght
0,69,13.911917,5,2.0,62,13.846561,4,7,23,9,1,0,1,0,0,1,0,697
1,68,12.000000,3,10.0,61,11.000000,4,6,25,11,1,1,0,0,1,0,0,1290
2,71,12.000000,3,6.0,46,12.000000,2,7,21,12,1,0,1,0,0,1,0,1490
3,59,16.000000,1,8.0,48,16.000000,7,8,21,10,0,0,0,1,0,0,1,1720
4,48,12.000000,4,6.0,39,12.000000,2,9,17,13,0,1,0,0,1,0,0,1956
5,67,11.000000,4,8.0,40,8.000000,4,9,16,14,0,1,0,0,1,0,0,1984
6,54,12.000000,2,12.0,46,12.000000,9,9,17,12,1,0,1,0,0,1,0,2050
7,71,14.000000,4,7.0,51,11.000000,9,8,15,13,0,1,0,0,1,0,0,2068
8,56,12.000000,1,9.0,53,14.000000,8,9,14,9,1,1,0,0,1,0,0,2148
9,58,12.000000,2,12.0,61,16.000000,9,9,13,6,0,0,1,0,0,1,0,2180
10,60,11.000000,7,8.0,58,1.000000,7,9,9,10,0,1,0,0,1,0,0,2266
11,42,16.000000,2,12.0,48,16.000000,9,9,22,9,0,0,0,1,0,0,1,2310
12,29,12.000000,3,11.0,32,13.000000,9,9,13,10,0,1,0,0,1,0,0,2359
13,30,12.000000,4,6.0,43,12.000000,9,9,15,11,0,1,0,0,1,0,0,2438
14,34,16.000000,2,12.0,39,16.000000,9,9,23,9,0,0,0,1,0,0,1,2490

In [11]:
# checking whether missing values are replaced with MEAN values at end of the rows
birthweight.tail(15)

,mage,meduc,monpre,npvis,fage,feduc,omaps,fmaps,cigs,drink,male,mwhte,mblck,moth,fwhte,fblck,foth,bwght
181,31,12.0,2,10.000000,38,16.000000,9,9,1,1,0,0,0,1,0,0,1,4050
182,41,15.0,2,12.000000,34,16.000000,9,9,7,1,1,0,0,1,0,0,1,4090
183,42,16.0,1,12.000000,39,12.000000,8,10,8,5,1,1,0,0,1,0,0,4111
184,24,15.0,4,14.000000,35,15.000000,8,9,8,0,1,0,1,0,0,1,0,4139
185,38,12.0,2,11.601036,32,14.000000,9,9,13,0,1,0,1,0,0,1,0,4210
186,42,16.0,2,12.000000,26,16.000000,9,9,5,1,1,0,0,1,1,0,0,4224
187,35,12.0,2,12.000000,35,12.000000,8,9,6,2,1,0,0,1,0,0,1,4259
188,33,16.0,2,12.000000,35,16.000000,8,9,1,3,1,0,0,1,0,0,1,4315
189,49,11.0,2,12.000000,39,16.000000,9,9,0,3,0,0,1,0,0,1,0,4470
190,43,15.0,6,11.000000,36,12.000000,8,9,1,1,1,0,1,0,0,1,0,4536
191,30,12.0,5,12.000000,38,13.846561,5,7,3,2,1,0,1,0,0,0,1,4610
192,41,14.0,2,12.000000,47,16.000000,8,9,10,4,1,0,1,0,0,1,0,4660
193,33,15.0,2,15.000000,38,13.000000,8,8,0,1,0,1,0,0,1,0,0,4678
194,31,17.0,2,6.000000,43,14.000000,9,10,8,4,1,0,1,0,0,1,0,4791
195,39,17.0,2,10.000000,38,12.000000,8,9,0,0,0,0,0,1,1,0,0,4933

In [12]:
birthweight.isnull().sum(axis=0)

mage      0
meduc     0
monpre    0
npvis     0
fage      0
feduc     0
omaps     0
fmaps     0
cigs      0
drink     0
male      0
mwhte     0
mblck     0
moth      0
fwhte     0
fblck     0
foth      0
bwght     0
dtype: int64

In [13]:
# linear (Pearson) correlation
continuous_data = ['mage',
'meduc',
'monpre',
'npvis',
'fage',
'feduc',
'omaps',
'fmaps',
'cigs',
'drink',
'male',
'mwhte',
'mblck',
'moth',
'fwhte',
'fblck',
'foth',
'bwght']


# developing a correlation matrix based on continuous features
birthweight_corr = birthweight[continuous_data].corr(method = 'pearson')
# filtering the results to only show correlations 
birthweight_corr.loc[ : , 'bwght'].round(decimals = 2).sort_values(ascending = False)

bwght     1.00
omaps     0.25
fmaps     0.25
feduc     0.13
mblck     0.13
fblck     0.12
male      0.11
meduc     0.09
npvis     0.06
moth     -0.02
fwhte    -0.04
monpre   -0.05
foth     -0.08
mwhte    -0.11
fage     -0.40
mage     -0.46
cigs     -0.57
drink    -0.74
Name: bwght, dtype: float64

Here dropping two columns 'omaps' and 'fmaps' because these things takes place after the child birth. So this won't affect the birthweight.

In [14]:
# preparing explanatory variable data
birthweight_data   = birthweight.drop(['bwght','omaps','fmaps','mblck','fblck'],axis = 1)


# preparing response variable data
birthweight_target = birthweight.loc[ : , 'bwght']


# preparing training and testing sets (all letters are lowercase)
x_train, x_test, y_train, y_test = train_test_split(
            birthweight_data,
            birthweight_target,
            test_size = 0.25,
            random_state = 219)


# checking the shapes of the datasets
print(f"""
Training Data
-------------
X-side: {x_train.shape}
y-side: {y_train.shape[0]}


Testing Data
------------
X-side: {x_test.shape}
y-side: {y_test.shape[0]}
""")

Training Data
-------------
X-side: (147, 13)
y-side: 147


Testing Data
------------
X-side: (49, 13)
y-side: 49

In [15]:
# merging X_train and y_train so that they can be used in statsmodels
bw_train = pd.concat([x_train, y_train], axis = 1)


# Step 1: build a model
lm_best = smf.ols(formula =  """bwght  ~    meduc +
                                            monpre +
                                            feduc +
                                            cigs +
                                            drink +
                                            male +
                                            npvis +
                                            fage +
                                            mwhte +
                                             moth +
                                            fwhte +
                                            foth """,
                                            data = bw_train)


# Step 2: fit the model based on the data
results = lm_best.fit()



# Step 3: analyze the summary output
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  bwght   R-squared:                       0.699
Model:                            OLS   Adj. R-squared:                  0.672
Method:                 Least Squares   F-statistic:                     25.90
Date:                Sun, 19 Dec 2021   Prob (F-statistic):           2.96e-29
Time:                        13:24:46   Log-Likelihood:                -1076.5
No. Observations:                 147   AIC:                             2179.
Df Residuals:                     134   BIC:                             2218.
Df Model:                          12
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept   4180.2954    362.935     11.518      0.000    3462.474    4898.117
meduc         23.1522     20.499      1.129      0.261     -17.391      63.695
monpre        -7.8742     26.807     -0.294      0.769     -60.893      45.144
feduc         28.7448     17.498      1.643      0.103      -5.863      63.353
cigs         -38.1544      5.689     -6.706      0.000     -49.407     -26.902
drink       -115.1516     12.475     -9.231      0.000    -139.825     -90.478
male          59.1566     65.664      0.901      0.369     -70.715     189.029
npvis          1.6323      7.892      0.207      0.836     -13.977      17.242
fage         -13.2971      3.710     -3.584      0.000     -20.634      -5.960
mwhte         81.4396    200.584      0.406      0.685    -315.280     478.160
moth        -141.6923    174.098     -0.814      0.417    -486.028     202.644
fwhte        -12.1001    192.543     -0.063      0.950    -392.917     368.717
foth          41.6021    183.984      0.226      0.821    -322.287     405.491
==============================================================================
Omnibus:                        8.459   Durbin-Watson:                   1.807
Prob(Omnibus):                  0.015   Jarque-Bera (JB):               13.391
Skew:                          -0.252   Prob(JB):                      0.00124
Kurtosis:                       4.390   Cond. No.                         573.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

Removed some columns based on high P-value.

In [16]:
# merging X_train and y_train so that they can be used in statsmodels
bw_train = pd.concat([x_train, y_train], axis = 1)


# Step 1: build a model
lm_best = smf.ols(formula =  """bwght  ~    cigs +
                                            drink +
                                            fage 
                                            """,
                                            data = bw_train)


# Step 2: fit the model based on the data
results = lm_best.fit()



# Step 3: analyze the summary output
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  bwght   R-squared:                       0.676
Model:                            OLS   Adj. R-squared:                  0.669
Method:                 Least Squares   F-statistic:                     99.33
Date:                Sun, 19 Dec 2021   Prob (F-statistic):           8.46e-35
Time:                        13:24:46   Log-Likelihood:                -1081.9
No. Observations:                 147   AIC:                             2172.
Df Residuals:                     143   BIC:                             2184.
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept   4945.6690    144.819     34.151      0.000    4659.407    5231.931
cigs         -36.8445      5.471     -6.734      0.000     -47.659     -26.030
drink       -120.0603     11.633    -10.321      0.000    -143.055     -97.066
fage         -13.9388      3.676     -3.792      0.000     -21.205      -6.673
==============================================================================
Omnibus:                        6.498   Durbin-Watson:                   1.910
Prob(Omnibus):                  0.039   Jarque-Bera (JB):               10.933
Skew:                          -0.025   Prob(JB):                      0.00423
Kurtosis:                       4.335   Cond. No.                         193.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [17]:
# declaring set of x-variables
x_variables = [ 'cigs','drink', 'fage']


# looping to make x-variables suitable for statsmodels
for val in x_variables:
    print(f"{val} +")

cigs +
drink +
fage +

In [18]:
# applying model in scikit-learn

# Preparing a DataFrame based the the analysis above
ols_data   = birthweight.loc[ : , x_variables]




# Preparing the target variable
birthweight_target = birthweight.loc[ : , 'bwght']


###############################################
## setting up more than one train-test split ##
###############################################
# FULL X-dataset (normal Y)
x_train_FULL, x_test_FULL, y_train_FULL, y_test_FULL = train_test_split(
            birthweight_data,     # x-variables
            birthweight_target,   # y-variable
            test_size = 0.25,
            random_state = 219)


# OLS p-value x-dataset (normal Y)
x_train_OLS, x_test_OLS, y_train_OLS, y_test_OLS = train_test_split(
            ols_data,         # x-variables
            birthweight_target,   # y-variable
            test_size = 0.25,
            random_state = 219)

In [19]:
# INSTANTIATING a model object
lr = LinearRegression()


# FITTING to the training data
lr_fit = lr.fit(x_train_OLS, y_train_OLS)


# PREDICTING on new data
lr_pred = lr_fit.predict(x_test_OLS)


# SCORING the results
print('OLS Training Score :', lr.score(x_train_OLS, y_train_OLS).round(4))
print('OLS Testing Score  :', lr.score(x_test_OLS, y_test_OLS).round(4))


# saving scoring data for future use
lr_train_score = lr.score(x_train_OLS, y_train_OLS).round(4) # using R-square
lr_test_score  = lr.score(x_test_OLS, y_test_OLS).round(4)   # using R-square


# displaying and saving the gap between training and testing
print('OLS Train-Test Gap :', abs(lr_train_score - lr_test_score).round(4))
lr_test_gap = abs(lr_train_score - lr_test_score).round(4)

OLS Training Score : 0.6757
OLS Testing Score  : 0.7252
OLS Train-Test Gap : 0.0495

In [20]:
# zipping each feature name to its coefficient
lr_model_values = zip(birthweight_data[x_variables].columns,
                      lr_fit.coef_.round(decimals = 2))


# setting up a placeholder list to store model features
lr_model_lst = [('intercept', lr_fit.intercept_.round(decimals = 2))]


# printing out each feature-coefficient pair one by one
for val in lr_model_values:
    lr_model_lst.append(val)
    

# checking the results
for pair in lr_model_lst:
    print(pair)

('intercept', 4945.67)
('cigs', -36.84)
('drink', -120.06)
('fage', -13.94)

In [21]:
import sklearn.linear_model # linear models

In [22]:
# INSTANTIATING a model object
lasso_model = sklearn.linear_model.Lasso(alpha     = 1.0,  # default shrinkage
                                         normalize = True) # default magitude


# FITTING to the training data
lasso_fit = lasso_model.fit(x_train_FULL, y_train_FULL)


# PREDICTING on new data
lasso_pred = lasso_fit.predict(x_test_FULL)


# SCORING the results
print('Lasso Training Score :', lasso_model.score(x_train_FULL, y_train_FULL).round(4))
print('Lasso Testing Score  :', lasso_model.score(x_test_FULL, y_test_FULL).round(4))


## the following code has been provided for you ##

# saving scoring data for future use
lasso_train_score = lasso_model.score(x_train_FULL, y_train_FULL).round(4) # using R-square
lasso_test_score  = lasso_model.score(x_test_FULL, y_test_FULL).round(4)   # using R-square


# displaying and saving the gap between training and testing
print('Lasso Train-Test Gap :', abs(lasso_train_score - lasso_test_score).round(4))
lasso_test_gap = abs(lasso_train_score - lasso_test_score).round(4)

Lasso Training Score : 0.7293
Lasso Testing Score  : 0.6184
Lasso Train-Test Gap : 0.1109

In [23]:
# zipping each feature name to its coefficient
lasso_model_values = zip(birthweight_data.columns, lasso_fit.coef_.round(decimals = 2))


# setting up a placeholder list to store model features
lasso_model_lst = [('intercept', lasso_fit.intercept_.round(decimals = 2))]


# printing out each feature-coefficient pair one by one
for val in lasso_model_values:
    lasso_model_lst.append(val)
    

# checking the results
for pair in lasso_model_lst:
    print(pair)

('intercept', 4576.71)
('mage', -14.77)
('meduc', 16.11)
('monpre', 0.0)
('npvis', 1.77)
('fage', -3.56)
('feduc', 17.01)
('cigs', -37.18)
('drink', -102.34)
('male', 36.71)
('mwhte', 0.0)
('moth', -75.62)
('fwhte', -0.0)
('foth', -0.0)

In [24]:
# INSTANTIATING a model object
ard_model = sklearn.linear_model.ARDRegression(normalize  = False)


# FITTING the training data
ard_fit = ard_model.fit(x_train_FULL, y_train_FULL)


# PREDICTING on new data
ard_pred = ard_fit.predict(x_test_FULL)


print('Training Score:', ard_model.score(x_train_FULL, y_train_FULL).round(4))
print('Testing Score :',  ard_model.score(x_test_FULL, y_test_FULL).round(4))


# saving scoring data for future use
ard_train_score = ard_model.score(x_train_FULL, y_train_FULL).round(4)
ard_test_score  = ard_model.score(x_test_FULL, y_test_FULL).round(4)


# displaying and saving the gap between training and testing
print('ARD Train-Test Gap :', abs(ard_train_score - ard_test_score).round(4))
ard_test_gap = abs(ard_train_score - ard_test_score).round(4)

Training Score: 0.7254
Testing Score : 0.6316
ARD Train-Test Gap : 0.0938

In [25]:
# INSTANTIATING a model object
lasso_model = sklearn.linear_model.Lasso(alpha     = 1.0,  # default shrinkage
                                         normalize = True) # default magitude


# FITTING to the training data
lasso_fit = lasso_model.fit(x_train_FULL, y_train_FULL)


# PREDICTING on new data
lasso_pred = lasso_fit.predict(x_test_FULL)


# SCORING the results
print('Lasso Training Score :', lasso_model.score(x_train_FULL, y_train_FULL).round(4))
print('Lasso Testing Score  :', lasso_model.score(x_test_FULL, y_test_FULL).round(4))


## the following code has been provided for you ##

# saving scoring data for future use
lasso_train_score = lasso_model.score(x_train_FULL, y_train_FULL).round(4) # using R-square
lasso_test_score  = lasso_model.score(x_test_FULL, y_test_FULL).round(4)   # using R-square


# displaying and saving the gap between training and testing
print('Lasso Train-Test Gap :', abs(lasso_train_score - lasso_test_score).round(4))
lasso_test_gap = abs(lasso_train_score - lasso_test_score).round(4)

Lasso Training Score : 0.7293
Lasso Testing Score  : 0.6184
Lasso Train-Test Gap : 0.1109

In [26]:
# zipping each feature name to its coefficient
ard_model_values = zip(birthweight_data.columns, ard_fit.coef_.round(decimals = 5))


# setting up a placeholder list to store model features
ard_model_lst = [('intercept', ard_fit.intercept_.round(decimals = 2))]


# printing out each feature-coefficient pair one by one
for val in ard_model_values:
    ard_model_lst.append(val)
    

# checking the results
for pair in ard_model_lst:
    print(pair)

('intercept', 4701.66)
('mage', -16.22483)
('meduc', 12.31838)
('monpre', -8e-05)
('npvis', 0.00156)
('fage', -1.56772)
('feduc', 15.00077)
('cigs', -38.53238)
('drink', -105.96004)
('male', 0.0113)
('mwhte', 0.00082)
('moth', -49.94689)
('fwhte', -4e-05)
('foth', -0.0007)

In [27]:
## This code may have to be run more than once ##

# dropping coefficients that are equal to zero

# printing out each feature-coefficient pair one by one
for feature, coefficient in ard_model_lst:
        
        if coefficient == 0:
            ard_model_lst.remove((feature, coefficient))

            
# checking the results
for pair in ard_model_lst:
    print(pair)

('intercept', 4701.66)
('mage', -16.22483)
('meduc', 12.31838)
('monpre', -8e-05)
('npvis', 0.00156)
('fage', -1.56772)
('feduc', 15.00077)
('cigs', -38.53238)
('drink', -105.96004)
('male', 0.0113)
('mwhte', 0.00082)
('moth', -49.94689)
('fwhte', -4e-05)
('foth', -0.0007)

In [36]:
# comparing results

print(f"""
Model      Train Score      Test Score       Train-Test Gap
-----      -----------      ----------       --------------
OLS        {lr_train_score}           {lr_test_score}           {lr_test_gap}
Lasso      {lasso_train_score}           {lasso_test_score}           {lasso_test_gap}
ARD        {ard_train_score}           {ard_test_score}           {ard_test_gap}
""")


# creating a dictionary for model results
model_performance = {
    
    'Model Type'    : ['OLS', 'Lasso', 'ARD'],
           
    'Training' : [lr_train_score, lasso_train_score,
                                   ard_train_score],
           
    'Testing'  : [lr_test_score, lasso_test_score,
                                   ard_test_score],
                    
    'Train-Test Gap' : [lr_test_gap, lasso_test_gap,
                                        ard_test_gap],
                    
    'Model Size' : [len(lr_model_lst), len(lasso_model_lst),
                                    len(ard_model_lst)],
                    
    'Model' : [lr_model_lst, lasso_model_lst, ard_model_lst]}


# converting model_performance into a DataFrame
model_performance = pd.DataFrame(model_performance)


# sending model results to Excel
model_performance.to_excel('./__model_results/linear_model_performance.xlsx',
                           index = False)

Model      Train Score      Test Score       Train-Test Gap
-----      -----------      ----------       --------------
OLS        0.6757           0.7252           0.0495
Lasso      0.7293           0.6184           0.1109
ARD        0.7254           0.6316           0.0938

After seeing results from different models, OLS is providing the best result.